.method {
	padding: 160px 40px;
}

.method h1 {
	width: 40%;
	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0;
	color: #fff;
}

.method_header {
	display: flex;
	justify-content: space-between;
	margin: 24px 0 96px 0;
}

.method_header p {
	color: #adaaaa;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0;
}

.method_header p:nth-child(1) {
	width: 40%;
}

.method_header p:nth-child(2) {
	text-transform: uppercase;
}

.method_cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 80px;
}

.method_card {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.method_card_img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 64px;
	height: 64px;
	border-radius: 16px;
	background-color: #201f1f;
	border: 1px solid #ffffff33;
}

.method_card img {
	width: 25px;
	height: 25px;
}

.method_card p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0;
}

.method_cards span {
	color: #adaaaa;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0;
}
