.method {
	padding: 160px 40px;
}

.method h1 {
	width: 40%;

	font-size: 48px;
	font-weight: 400;
	line-height: 48px;
	color: #fff;
}

.method_header {
	display: flex;
	justify-content: space-between;

	margin: 24px 0 96px;
}

.method_header p {
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	color: #adaaaa;
}

.method_header p:first-child {
	width: 40%;
}

.method_header p:last-child {
	text-transform: uppercase;
}