.header {
	width: 100%;
	padding: 16px 0;
	background: #070606;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}

.nav {
	display: flex;
	gap: 32px;
}

.nav a {
	color: #a0a7b5;
	text-decoration: none;
	font-size: 14px;
	transition: 0.2s;
}

.nav a:hover {
	color: #fff;
}

.btn {
	background: #8d98ff;
	color: #000a7b;
	border: none;
	padding: 10px 24px;
	border-radius: 12px;
	font-size: 14px;
	cursor: pointer;
	transition: 0.2s;
	color: 14px;
	line-height: 20px;
	letter-spacing: 0;
	font-size: 14px;
	font-weight: 400;
}

.btn:hover {
	opacity: 0.85;
}
