.footer {
	padding: 60px 0 20px 0;
	color: #a0a7b5;
}

.footer_content {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	gap: 40px;
}

.footer_brand h2 {
	color: #fff;
	font-size: 18px;
	margin-bottom: 10px;
}

.footer_brand p {
	font-size: 13px;
}

.footer_column {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer_column h3 {
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
}

.footer_column a {
	text-decoration: none;
	color: #a0a7b5;
	font-size: 13px;
	transition: 0.2s;
}

.footer_column a:hover {
	color: #fff;
}

.socials {
	display: flex;
	gap: 10px;
	margin-top: 5px;
}

.icon {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #1a1f2e;
}

.footer_bottom {
	border-top: 1px solid #ffffff15;
	margin-top: 40px;
	padding-top: 20px;

	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

.footer_bottom p {
	font-size: 12px;
	color: #6b7280;
}

/* Mobile first */
@media (min-width: 280px) and (max-width: 767px) {
}

/* Mobile grande */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 1024px) {
}

/* Laptop */
@media (min-width: 1280px) {
}

/* Desktop */
@media (min-width: 1536px) {
}

/* Desktop grande */
