.flow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 40px 0;
}

.sectionForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	gap: 48px;
	padding: 57px;

	border: 1px solid #47474763;
	border-radius: 32px;

	box-shadow: 12px 12px 2px 1px rgba(29, 29, 63, 0.2);
}

@media (max-width: 479px) {
	.flow {
		padding: 10px 0;
	}

	.sectionForm {
		width: 100%;
	}
}
