.cta {
	display: flex;
	justify-content: center;

	padding: 160px 0;

	border-bottom: 1px solid rgba(255, 255, 255, 0.397);
}

.cta_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	width: 80%;
	padding: 96px;

	border-radius: 48px;
	background-color: #8d98ff;
	box-shadow: 12px 10px 20px 1px rgba(255, 255, 255, 0.137);
}

.cta_content h2 {
	width: 60%;

	font-size: 60px;
	font-weight: 600;
	line-height: 60px; 
	text-align: center;
	color: #000a7b;
}

.cta_content .btn {
	padding: 20px 68px;

	border-radius: 12px;
	background-color: #000;
	color: #fff;

	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
}